.parent {
  position: relative;
  width: 100%;
  height: auto;
}

/* navbar */
.child-1 {
  position: absolute;
  top: 0px;
}

/* sidebar */
.child-2 {
  position: absolute;
}

.sub-child {
  font-family: 'Gilroy-Regular';
  border-radius: 12px;
  padding: 10px;
  color: #3e74ff;
  background-color: #3e74ff;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  z-index: 1;
  opacity: 0.95;
  margin-left: 20px;
  top: 80px;
  left: 7%;
  width: 200px;
  height: auto;
  position: fixed;
}

/* page focus content */
.child-3 {
  position: absolute;
  top: 80px;
  left: calc(7% + 240px);
  width: calc(100% - 32rem);
}

@media screen and (max-width: 960px) {
  .parent {
    display: flex;
  }

  /* navbar */
  .child-1 {
    top: 0px;
  }

  /* sidebar */
  .child-2 {
    position: absolute;
    bottom: 0px;
    width: fit-content;
  }

  .sub-child {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 60px;
    /* bottom: 0; */
    justify-content: center;
    z-index: 0;
  }
}
