
.error-container {
    display: block;
    justify-content: center;
    align-items: center;
}
.error-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.error-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #3E74FF;
    padding-bottom: 1rem;
}

.error-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 40em) {
    .error-image img {
        width: 70%;
        height: auto;
    }
}
@media (min-width: 23.4375em) {
    .error-image img {
        width: 70%;
        height: auto;
    }
    .error-content h2 {
        padding: 5%;
        text-align: center;
    }
}
