.settings {
  /* the below settings ensure the page fits on the RHS of the sidebar */
  position: relative;
  top: 0px;
  left: 250px;
  height: auto;
  width: calc(100% - 250px);
  color: #237c9a;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
}

@media screen and (max-width: 960px) {
  .settings {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 60px;
    overflow-y: hidden;
    height: calc(100% - 60px);
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
  }
}

.settings__grid {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  column-gap: 15px;
  grid-template-columns: 1fr 3fr 1.5fr;
}

@media screen and (max-width: 960px) {
  .settings__grid {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.settings__header {
  /* text-transform: uppercase; */
  display: flex;
  padding-bottom: 20px;
  justify-content: space-evenly;
  grid-template-columns: 1fr;
}

.settings__header h2 {
  font-family: 'Gilroy-Bold';
}

.settings__item {
  align-items: center;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 15px;
  /* height: auto;
  width: auto; */
}

.settings__item-header {
  font-family: 'Gilroy-Bold';
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /* font-weight: 600; */
  border-bottom: 1px solid;
  width: 100%;
}

.settings__navbar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings__navbar-item {
  font-family: 'Gilroy-Regular';
  padding: 5px;
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  border-left: 2px solid;
  margin-top: 10%;
}

li a {
  text-decoration: none;
  transition: all 0.5s ease;
}

li a:hover {
  opacity: 0.4;
}

.adjust__color {
  margin-top: 10%;
}

.profile__image {
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.profile__image img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.profile__edit-btn {
  align-items: center;
  /* width: 100%; */
}

.edit__btn {
  font-family: 'Gilroy-Light';
  margin-top: 10px;
  color: white;
  background-color: black;
  border-radius: 10%;
  border: none;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.profile__name {
  font-family: 'Gilroy-Bold';
  text-align: left;
  font-size: large;
  /* font-weight: 700; */
  margin-top: 10px;
  /* padding: 10px; */
}

.profile__description {
  font-family: 'Gilroy-Light';
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  font-size: medium;
  margin-top: 10px;
  width: 100%;
  /* padding: 10px; */
}
