.form__container {
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 5%;
}

@media (min-width: 64em) {
  .form__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
  }
}

.form__content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 20px;
}

.form__content-left img {
  width: 60%;
}

.form__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
}

.form__inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form__inputs textarea {
  resize: none;
  height: 8rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.form__inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.form__label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
}

.form__input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form__inputs textarea {
  padding-top: 10px;
}

.form__input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form__btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  /* align-items: center; */
  display: flex;
  justify-content: center;
}
