.main_section {
  /* the below settings ensure the page fits on the RHS of the sidebar */
  position: relative;
  top: 0px;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
}

.main_section h1 {
  color: #3e74ff;
  font-size: 2rem;
  text-transform: uppercase;
}

.notif_box {
  outline: 2px;
  outline-style: solid;
  outline-color: #3e74ff;
  height: 300px;
  width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  flex-direction: column;
  display: flex;
}

.notif {
  width: 100%;
  outline: 2px;
  margin-left: 5px;
  outline-style: solid;
  outline-color: #3e74ff;
}

.notif h3 {
  color: #3e74ff;
}

.notif p {
  color: #000000;
}
