.main__section {
  /* the below settings ensure the page fits on the RHS of the sidebar */
  position: relative;
  top: 0px;
  left: 250px;
  height: auto;
  width: calc(100% - 250px);
  color: #fff;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
}

.main__section h3 {
  display: inline-block;
  color: #237c9a;
  margin: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .main__section {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form__inputs {
  margin-bottom: 0.5rem;
  width: 90%;
  padding: 2px;
}

.form__inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.form__label {
  color: #000;
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
}

.form__input {
  background: #fafafa;
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form__input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form__btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
}

.form__input:required {
  /* border: none; */
  border-bottom: 2px solid rgb(89, 211, 105);
}

.form__input:required:invalid {
  border-bottom: 2px solid rgb(212, 52, 52);
}
