.stream__container {
  position: relative;
  top: 0px;
  left: 250px;
  height: auto;
  overflow-y: hidden;
  color: #000;
  width: calc(100% - 250px);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
}

.stream__container h3 {
  display: inline-block;
  color: #237c9a;
  margin: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .stream__container {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
  }
}

.video__stream {
  border: 1px solid lightgray;
  border-radius: 8px;
  max-width: 100% !important;
  height: auto !important;
}
