@font-face {
  font-family: 'Gilroy-Light';
  src: url('fonts/Gilroy-Light.woff');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('fonts/Gilroy-Regular.woff');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('fonts/Gilroy-Medium.woff');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('fonts/Gilroy-Bold.woff');
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('fonts/Gilroy-Heavy.woff');
}

body {
  overflow: overlay;
  scrollbar-width: thin;
}

html {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 12px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy-Regular', sans-serif;
}

:root {
  /* BASIC COLORS */
  --white: #fff;
  --black: #000;
  --red: red;
  --yellow: yellow;
  --green: green;
  --teal: teal;
  --purple: purple;
  --cyan: cyan;
  --orange: orange;
  /* PRIMARY COLORS */
  --primary-1: #3e74ff;
  --primary-2: #1a1e23;
  --primary-3: #09b8e9;
  /* SECONDARY COLORS */
  --secondary-1: #6f6f71;
  --secondary-2: #07080d;
  --secondary-3: #333333;
  /* BACKGROUND COLORS */
  --ltbackground: #f3f3f3;
  --dkbackground: #0f1015;
  /* FONT SIZES */
  --FontLg: 5.125rem;
  --FontMd: 1.125rem;
  --FontSm: 0.875rem;
  --FontXs: 0.625rem;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: Montserrat;
  font-size: var(--FontMd);
  font-weight: 300;
  background-color: var(--white);
  animation: fadeInAnimation ease 1s;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
